  
<div class="section" id="logros">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Logros</div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2017</p>
                        <div class="h5">Beca Primer Puesto</div>
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h4">Ingeniería de Sistemas Computacionales</div>
                                <h4 class="category">Universidad Privada del Norte</h4>
                                <ul>
                                    <li> Obtuve el <b>primer puesto</b> en mi carrera.</li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>    