<div class="section" id="about">
    <div class="container">
        <div class="card" data-aos="fade-up" data-aos-offset="10">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="card-body">
                        <div class="h4 mt-0 title">Sobre mí</div>
                            <p align="justify">Soy un estudiante de la carrera de Ingeniería de Sistemas Computacionales que le apasiona mucho el mundo del desarrollo de software, por lo que día a día estoy en constante aprendizaje con las nuevas tecnologías. También me gusta mucho practicar calistenia, tocar la guitarra, ver series, etc.</p>
                            <p align="justify">Me considero una persona muy competitiva en todo ámbito, que no se deja intimidar por los problemas, al contrario, busco solucionarlos analizándolos desde la raíz. Además, tengo la capacidad de trabajar en equipo, aportar ideas, tomar la iniciativa y liderar equipos.</p>
                            <p align="justify">Si deseas saber más acerca de mí, puedes continuar explorando mi sitio. También puedes contactarme directamente desde <a href="#contact">aquí</a></p>
                    </div>
                </div>    
                <div class="col-lg-6 col-md-12">       
                    <div class="card-body">
                        <div class="h4 mt-0 title">Información Básica</div>
                        <!-- <div class="row">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Date of Birth:</strong>
                            </div>
                            <div class="col-sm-8">June 14, 1994</div>
                        </div> -->
                        <div class="row mt-4">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Email:</strong>
                            </div>
                            <div class="col-sm-8">coderjzz@gmail.com</div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Teléfono:</strong>
                            </div>
                            <div class="col-sm-8">+51923898819</div>
                        </div>
                        <!-- <div class="row mt-4">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Address:</strong>
                            </div>
                            <div class="col-sm-8">#397 ashoka road vidyanagr Hassan</div>
                        </div> -->
                        <div class="row mt-4">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Idiomas:</strong>
                            </div>
                            <div class="col-sm-8">Español</div>
                        </div>
                     </div>
                </div>
            </div>
        </div>
    </div>
</div>