
@media screen and (min-width: 992px){
    .links-nav li {
        position: relative;
    }
    
    .links-nav a:before {
        content: "";
        position: absolute;
        height: .11em;
        background: #fff;
        bottom: 0;
        left: 50%;
        width: 0;
        transition: .4s all;
    }
    
    .links-nav a:hover:before{
        left: 0;
        width: 100%;
    }
}